# Actividad 00 - Bonus

Esta tarea es una continuación del ejemplo introductorio en el que agrupamos los datos de los metros de plaza de cada provincia y región. En esta actividad hemos sumado un nuevo `.csv`, llamado `presupuesto_2019.csv`. Aquí tenemos para cada comuna, su presupuesto para el año 2019. Entonces, en base a estos datos, en conjunto con `datos_comunas.csv` y `codigos.csv`, se pide lo siguiente.

1. **\[2 pts\]** Carga los datos de presupuesto y utilice la función `describe()` para encontrar los cuartiles, promedios y la media de los presupuestos por comuna. Indica además el número de comunas con presupuesto **no recepcionado**. **Ojo**: los valores `"No Recepcionado"` que pueden dificultar el cálculo.
2. **\[1 pto\]** Entrega el presupuesto total por región y por provincia, ordenado en cada caso de mayor a menor.
3. **\[1 pto\]** Entrega el presupuesto promedio por región y por provincia, ordenado en cada caso de mayor a menor. ¿Cómo cambia el ranking cuando se considera el presupuesto total vs. el promedio?
4. **\[2 pts\]** Entrega el top 20 de las comunas con más metros de plaza y el top 20 de las comunas con más presupuesto. ¿Hay alguna coincidencia entre ambos conjuntos?

La idea de esta tarea es que te familiarices con el flujo de trabajo que involucra importar _notebooks_ desde GitHub a Colab.

**Detalles académicos**: esta tarea es individual y su fecha de entrega es el miércoles 11 de agosto hasta las 20:00 horas. Debes entregar un _notebook_ con tu código y con texto en donde también discutas tus resultados. Cada punto de esta actividad es una décima que será sumada a alguna de tus tareas durante el semestre.

In [ ]:
# Realiza tu tarea aquí

In [1]:
#importar csv
import pandas as pd

url1 = 'https://raw.githubusercontent.com/ING559/Syllabus-2021-2/main/Actividades/Actividad%2000%20-%20Bonus/datos_comunas.csv'
dfcomunas = pd.read_csv(url1)

url2 = 'https://raw.githubusercontent.com/ING559/Syllabus-2021-2/main/Actividades/Actividad%2000%20-%20Bonus/presupuesto_2019.csv'
dfpresupuesto = pd.read_csv(url2, sep = ";")

url3 = 'https://raw.githubusercontent.com/ING559/Syllabus-2021-2/main/Actividades/Actividad%2000%20-%20Bonus/codigos.csv'
dfcodigos = pd.read_csv(url3, sep = ";")

In [2]:
dfpresupuesto.head()

   CODIGO      MUNICIPIO PRESUPUESTO
0    1101        IQUIQUE    59072234
1    1107  ALTO HOSPICIO    13984411
2    1401   POZO ALMONTE     7613962
3    1402         CAMIÑA     1584008
4    1403       COLCHANE     2500000

In [3]:
dfcodigos.head()

   Código Región Nombre Región  ... Código Comuna 2018  Nombre Comuna
0              1      Tarapacá  ...               1101        Iquique
1              1      Tarapacá  ...               1107  Alto Hospicio
2              1      Tarapacá  ...               1401   Pozo Almonte
3              1      Tarapacá  ...               1402         Camiña
4              1      Tarapacá  ...               1403       Colchane

[5 rows x 7 columns]

In [4]:
dfcomunas.head()

     id  metros_plaza  metros_parque  personas_trabaja
0  1101       58460.0        94824.0             271.0
1  1107      130316.0            0.0              55.0
2  1401           NaN            NaN               NaN
3  1402        4050.0            0.0               8.0
4  1403        2532.0            NaN               NaN

PREGUNTA 1

In [ ]:
#Carga los datos de presupuesto y utilice la función describe() para encontrar los cuartiles, promedios y la media de los presupuestos por comuna. Indica además el número de comunas con presupuesto no recepcionado.

In [5]:
# contar valores no recepcionados
len(dfpresupuesto[dfpresupuesto['PRESUPUESTO'] == 'No Recepcionado'])

2

In [6]:
#cuales son las comunas que tienen presupuesto no recepcionado
df_no_recepcionado = dfpresupuesto['PRESUPUESTO'] == 'No Recepcionado'
filtered_df = dfpresupuesto[df_no_recepcionado]
filtered_df['MUNICIPIO'].to_frame()

    MUNICIPIO
63  ALGARROBO
87   MOSTAZAL

In [7]:
# reemplazar presupuestos no recepcionados por 0
dfpresupuesto['PRESUPUESTO'].replace(
    to_replace= 'No Recepcionado',
    value=0,
    inplace=True
)

In [8]:
# cambiar typo de variable presupuesto a int
dfpresupuesto.PRESUPUESTO = dfpresupuesto.PRESUPUESTO.astype(str).astype(int)
dfpresupuesto.dtypes

CODIGO          int64
MUNICIPIO      object
PRESUPUESTO     int64
dtype: object

In [23]:
# estadística descriptiva de presupuesto 
dfpresupuesto['PRESUPUESTO'].describe().to_frame()

        PRESUPUESTO
count  3.450000e+02
mean   1.413407e+07
std    2.740327e+07
min    0.000000e+00
25%    3.188141e+06
50%    5.372994e+06
75%    1.225000e+07
max    3.399804e+08

**Podemos observar que el 25% de los datos están por debajo de 3.188141e+06 y que el máximo presupuesto es de 3.3998e+08**

PREGUNTA 2

In [ ]:
#Entrega el presupuesto total por región y por provincia, ordenado en cada caso de mayor a menor

In [10]:
# realizamos el join de los dataframes que tienen la info del nombre de la región y de la provincia
df1 = pd.merge(left = dfpresupuesto, right = dfcodigos, left_on = 'CODIGO', right_on = 'Código Comuna 2018')
df1.head()

   CODIGO      MUNICIPIO  ...  Código Comuna 2018  Nombre Comuna
0    1101        IQUIQUE  ...                1101        Iquique
1    1107  ALTO HOSPICIO  ...                1107  Alto Hospicio
2    1401   POZO ALMONTE  ...                1401   Pozo Almonte
3    1402         CAMIÑA  ...                1402         Camiña
4    1403       COLCHANE  ...                1403       Colchane

[5 rows x 10 columns]

In [11]:
# Ordenamos de mayor a menor las regiones según su presupuesto
df1_new = df1.groupby(df1['Nombre Región']).agg({"PRESUPUESTO": 'sum'})
df1_new.sort_values(by='PRESUPUESTO', ascending=False)

                                           PRESUPUESTO
Nombre Región
Metropolitana de Santiago                   2257660928
Valparaíso                                   500088526
Biobío                                       323936518
Maule                                        233127267
La Araucanía                                 222228529
Libertador General Bernardo O'Higgins        217999431
Los Lagos                                    204174652
Coquimbo                                     202651902
Antofagasta                                  191109831
Ñuble                                        109988011
Tarapacá                                      94592435
Los Ríos                                      89914211
Atacama                                       74908738
Magallanes y de la Antártica Chilena          67465081
Arica y Parinacota                            44389407
Aysén del General Carlos Ibáñez del Campo     42017827

In [12]:
# Ordenamos de mayor a menor las provincias según su presupuesto
df2_new = df1.groupby(df1['Nombre Provincia']).agg({"PRESUPUESTO": 'sum'})
df2_new.sort_values(by='PRESUPUESTO', ascending=False)

                         PRESUPUESTO
Nombre Provincia
Santiago                  1862089382
Valparaíso                 224834659
Concepción                 196161773
Cautín                     175308840
Elqui                      136567407
Cachapoal                  135528497
Antofagasta                125254473
Cordillera                 100112250
Maipo                       97454192
Talca                       92428442
Chacabuco                   91108229
Biobío                      91034371
Llanquihue                  87792305
Iquique                     73056645
Valdivia                    70681854
Curicó                      69422287
San Antonio                 68174225
Diguillín                   66246039
Chiloé                      58310331
Melipilla                   56191220
El Loa                      56169539
Marga Marga                 54829778
Colchagua                   53293859
Linares                     53291803
Talagante                   50705655
Magallanes                  49150375
Osorno                      48231119
Malleco                     46919689
Copiapó                     44818187
Petorca                     40744506
Arica                       40286577
Quillota                    39679213
San Felipe de Aconcagua     37102162
Limarí                      36912577
Arauco                      36740374
Cardenal Caro               29177075
Choapa                      29171918
Los Andes                   24809515
Punilla                     24625779
Tamarugal                   21535790
Huasco                      19370383
Ranco                       19232357
Itata                       19116193
Cauquenes                   17984735
Coihaique                   15156740
Aisén                       14903408
Chañaral                    10720168
Isla de Pascua               9914468
Palena                       9840897
Tocopilla                    9685819
Última Esperanza             9550995
General Carrera              6386741
Tierra del Fuego             6020611
Capitán Prat                 5570938
Parinacota                   4102830
Antártica Chilena            2743100

PREGUNTA 3

In [ ]:
#Entrega el presupuesto promedio por región y por provincia, ordenado en cada caso de mayor a menor. ¿Cómo cambia el ranking cuando se considera el presupuesto total vs. el promedio?

In [13]:
# realizamos el join de los dataframes de presupuesto y codigos, que tienen la info del nombre de la región y de la provincia
df1 = pd.merge(left = dfpresupuesto, right = dfcodigos, left_on = 'CODIGO', right_on = 'Código Comuna 2018')
df1.head()

   CODIGO      MUNICIPIO  ...  Código Comuna 2018  Nombre Comuna
0    1101        IQUIQUE  ...                1101        Iquique
1    1107  ALTO HOSPICIO  ...                1107  Alto Hospicio
2    1401   POZO ALMONTE  ...                1401   Pozo Almonte
3    1402         CAMIÑA  ...                1402         Camiña
4    1403       COLCHANE  ...                1403       Colchane

[5 rows x 10 columns]

In [14]:
# Ordenamos de mayor a menor las regiones según su presupuesto
df1_new2 = df1.groupby(df1['Nombre Región']).agg({"PRESUPUESTO": 'mean'})
df1_new2.sort_values(by='PRESUPUESTO', ascending=False)

                                            PRESUPUESTO
Nombre Región
Metropolitana de Santiago                  4.341656e+07
Antofagasta                                2.123443e+07
Tarapacá                                   1.351320e+07
Coquimbo                                   1.351013e+07
Valparaíso                                 1.316022e+07
Arica y Parinacota                         1.109735e+07
Biobío                                     9.816258e+06
Atacama                                    8.323193e+06
Maule                                      7.770909e+06
Los Ríos                                   7.492851e+06
La Araucanía                               6.944642e+06
Los Lagos                                  6.805822e+06
Magallanes y de la Antártica Chilena       6.746508e+06
Libertador General Bernardo O'Higgins      6.606043e+06
Ñuble                                      5.237524e+06
Aysén del General Carlos Ibáñez del Campo  4.201783e+06

In [15]:
# Ordenamos de mayor a menor las provincias según su presupuesto
df2_new2 = df1.groupby(df1['Nombre Provincia']).agg({"PRESUPUESTO": 'mean'})
df2_new2.sort_values(by='PRESUPUESTO', ascending=False)

                          PRESUPUESTO
Nombre Provincia
Santiago                 5.819029e+07
Iquique                  3.652832e+07
Cordillera               3.337075e+07
Valparaíso               3.211924e+07
Antofagasta              3.131362e+07
Chacabuco                3.036941e+07
Maipo                    2.436355e+07
Elqui                    2.276123e+07
Arica                    2.014329e+07
El Loa                   1.872318e+07
Concepción               1.634681e+07
Copiapó                  1.493940e+07
Marga Marga              1.370744e+07
Magallanes               1.228759e+07
San Antonio              1.136237e+07
Melipilla                1.123824e+07
Talagante                1.014113e+07
Isla de Pascua           9.914468e+06
Llanquihue               9.754701e+06
Talca                    9.242844e+06
Valdivia                 8.835232e+06
Cautín                   8.348040e+06
Petorca                  8.148901e+06
Cachapoal                7.972265e+06
Quillota                 7.935843e+06
Curicó                   7.713587e+06
Coihaique                7.578370e+06
Limarí                   7.382515e+06
Diguillín                7.360671e+06
Choapa                   7.292980e+06
Osorno                   6.890160e+06
Linares                  6.661475e+06
Biobío                   6.502455e+06
Los Andes                6.202379e+06
San Felipe de Aconcagua  6.183694e+06
Cauquenes                5.994912e+06
Chiloé                   5.831033e+06
Chañaral                 5.360084e+06
Colchagua                5.329386e+06
Arauco                   5.248625e+06
Aisén                    4.967803e+06
Punilla                  4.925156e+06
Cardenal Caro            4.862846e+06
Tocopilla                4.842910e+06
Huasco                   4.842596e+06
Ranco                    4.808089e+06
Última Esperanza         4.775498e+06
Tamarugal                4.307158e+06
Malleco                  4.265426e+06
General Carrera          3.193370e+06
Antártica Chilena        2.743100e+06
Itata                    2.730885e+06
Palena                   2.460224e+06
Parinacota               2.051415e+06
Tierra del Fuego         2.006870e+06
Capitán Prat             1.856979e+06

**Cuando se comparan los ranking entre el presupuesto total vs el presupuesto promedio, ya sea por región o por provincia, son muy distintos y no están ordenados de la misma manera, por ejemplo, en presupuesto total por región las primeras 3 son metropolitana, valparaíso y biobio y en presupuesto promedio por región son metropolitana, antofagasta y tarapacá. 
Por otro lado, en el presupuesto total por provincia los primeros 3 son Santiago, Valparaíso y Concepción y en el presupuesto promedio por provincia son Santiago, Iquique y Cordillera.**

PREGUNTA 4

In [ ]:
#Entrega el top 20 de las comunas con más metros de plaza y el top 20 de las comunas con más presupuesto. ¿Hay alguna coincidencia entre ambos conjuntos?

In [16]:
# realizamos el join de los dataframes de presupuesto y comunas, que tienen la info de las comunas
df2 = pd.merge(left = dfpresupuesto, right = dfcomunas, left_on = 'CODIGO', right_on = 'id')
df2.head()

   CODIGO      MUNICIPIO  ...  metros_parque  personas_trabaja
0    1101        IQUIQUE  ...        94824.0             271.0
1    1107  ALTO HOSPICIO  ...            0.0              55.0
2    1401   POZO ALMONTE  ...            NaN               NaN
3    1402         CAMIÑA  ...            0.0               8.0
4    1403       COLCHANE  ...            NaN               NaN

[5 rows x 7 columns]

In [17]:
df2.fillna(0).head()

   CODIGO      MUNICIPIO  ...  metros_parque  personas_trabaja
0    1101        IQUIQUE  ...        94824.0             271.0
1    1107  ALTO HOSPICIO  ...            0.0              55.0
2    1401   POZO ALMONTE  ...            0.0               0.0
3    1402         CAMIÑA  ...            0.0               8.0
4    1403       COLCHANE  ...            0.0               0.0

[5 rows x 7 columns]

In [18]:
# obtenemos top 20 de comunas con más metros plaza
df3 = df2.sort_values(by='metros_plaza', ascending=False).head(n=20)
df3[['MUNICIPIO','metros_plaza']]

               MUNICIPIO  metros_plaza
50             RINCONADA    37997333.0
274                MAIPÚ     2661113.0
288          PUENTE ALTO     2576707.0
269           LAS CONDES     1636790.0
78              RANCAGUA     1628888.0
265           LA FLORIDA     1518203.0
26              COQUIMBO     1499157.0
294         SAN BERNARDO     1372230.0
111                TALCA     1329575.0
148  SAN PEDRO DE LA PAZ     1265443.0
277            PEÑALOLÉN     1179088.0
160          LOS ÁNGELES      977593.0
270         LO BARNECHEA      959924.0
25             LA SERENA      941514.0
279             PUDAHUEL      896241.0
206         PUERTO MONTT      882370.0
283                RENCA      862181.0
280            QUILICURA      814723.0
46          VIÑA DEL MAR      809912.0
150           TALCAHUANO      786545.0

In [19]:
# obtenemos top 20 de comunas con más presupuesto
df4 = df2.sort_values(by='PRESUPUESTO', ascending=False).head(n=20)
df4[['MUNICIPIO','PRESUPUESTO']]

        MUNICIPIO  PRESUPUESTO
269    LAS CONDES    339980450
256      SANTIAGO    163383547
278   PROVIDENCIA    125041538
274         MAIPÚ    119318265
7     ANTOFAGASTA    100635302
46   VIÑA DEL MAR    100482380
287      VITACURA     97000000
265    LA FLORIDA     95609849
270  LO BARNECHEA     92819385
279      PUDAHUEL     87884438
288   PUENTE ALTO     85384573
40     VALPARAÍSO     77718000
174        TEMUCO     66388232
275         ÑUÑOA     63443811
25      LA SERENA     59222000
0         IQUIQUE     59072234
26       COQUIMBO     56819394
277     PEÑALOLÉN     56733837
78       RANCAGUA     55996193
294  SAN BERNARDO     52127690

In [20]:
# unimos ambos top respecto al código de la comuna, para ver cuales son las coincidencias entre ambos
df5 = pd.merge(left = df3, right = df4, left_on = 'CODIGO', right_on = 'id')
df5['MUNICIPIO_x'].to_frame()

     MUNICIPIO_x
0          MAIPÚ
1    PUENTE ALTO
2     LAS CONDES
3       RANCAGUA
4     LA FLORIDA
5       COQUIMBO
6   SAN BERNARDO
7      PEÑALOLÉN
8   LO BARNECHEA
9      LA SERENA
10      PUDAHUEL
11  VIÑA DEL MAR

**Podemo observar que hay 10 comunas que se repiten en el top 20 de comunas que tienen más metros plaza y más presupuesto y que se muestran en el df5**